body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007bff;
}

h4 {
    color: #007bff;
}

h5 {
    color: blue;
}

ul {
    list-style-type: none;
    padding: 0;
}

.video-container {
    margin: 20px 0;
}

.balance-section {
    margin: 20px 0;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s; /* Smooth transition */
}

button:hover {
    background-color: #218838;
}

.hidden {
    display: none;
}

.contact-section {
    margin-top: 20px;
}

.withdrawal-method {
    margin: 10px 0;
}

.share-section {
    margin: 20px 0;
    padding: 10px;
    border: 1px dashed #007bff;
    background-color: #f9f9f9;
}

.share-section h4 {
    color: #007bff;
}

#shareButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s; /* Smooth transition */
}

#shareButton:hover {
    background-color: #0056b3;
}

.withdraw-message {
    color: #28a745; /* Green color for success messages */
    font-weight: bold;
}
